/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  list-style: none;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 500px 1360px 400px;
  grid-template-rows: 220px 420px 420px;
}

.sidebar-section {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  grid-template-rows: 100px 300px 200px;
  gap: 70px;
  background-color: #5a8ccf;
  color: white;
}

.sidebar-section .dashboard {
  display: grid;
  grid-template-columns: 50px 40px;
  gap: 20px;
  font-size: 30px;
  font-weight: 600;
  align-items: center;
  padding-left: 20px;
}

.sidebar-section img {
  filter: invert(1);
}

.upper-dashboard-links,
.lower-dashboard-links {
  padding-left: 30px;
}

.upper-dashboard-links li,
.lower-dashboard-links li {
  margin-bottom: 20px;
}

.upper-dashboard-links span,
.lower-dashboard-links span {
  display: grid;
  grid-template-columns: 20px 20px;
  align-items: center;
  gap: 40px;
  font-size: 24px;
  font-weight: bold;
}

.navbar-section {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  background-color: white;
}

.main-content-section {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: #e4e7ef;
}

.navbar-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px 50px 10px 50px;
}

.top-half-nav {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.bottom-half-nav {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2/3;
}
